# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Exclude
TriOrb-AMR-Package/gui/
TriOrb-AMR-Package/calibration/
TriOrb-AMR-Package/dev_tools/
TriOrb-AMR-Package/triorb-core/
TriOrb-AMR-Package/pkgs/*/
TriOrb-AMR-Package/README.md

