/* Lapis Lazuli RGB(34, 59, 128) */
:root {
  --md-primary-fg-color:        rgb(34, 59, 128);
  --md-primary-fg-color--light: rgb(64, 89, 158);
  --md-primary-fg-color--dark:  rgb(20, 39, 98);
}

/* index.md のときだけ ToC を非表示にする */
.md-sidebar--secondary[data-md-component="toc"] {
  display: none;
}

/* ただし、ページが index.md（ルート）でない場合は表示 */
body[data-md-path] .md-sidebar--secondary[data-md-component="toc"] {
  display: block;
}

body[data-md-path="index.md"] .md-sidebar--secondary[data-md-component="toc"] {
  display: none;
}